<div class="container">

  <mat-card class="title-card-sort">
    <div class="title-sort">
      Wprowadź liczby do posortowania:
    </div>
  </mat-card>

  <div mat-dialog-content>

    <form class="sort-numbers-form" [formGroup]="numbersForm" (submit)="numbersForm.valid && sort()">
      <mat-form-field appearance="fill" class="to-sort-input">
        <mat-label>Twoje liczby: (oddziel je przecinkami)</mat-label>
        <input matInput formControlName="numbers">
        <mat-error *ngIf="numbersForm.get('numbers')?.hasError('pattern')
                          || numbersForm.get('numbers')?.hasError('forbiddenName')">
          Niedozwolone znaki! Tylko liczby oddzielone przecinkiem są dozwolone.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Jak je posortować?</mat-label>
        <mat-select panelClass="size-panel-sections" formControlName="orderType">
          <mat-option *ngFor="let order of orders" [value]="order.orderType">
            {{ order.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions>
        <button class="button-sort" mat-button>SORTUJ!</button>
      </div>
    </form>

  </div>

  <hr class="section-division">

  <mat-card class="title-card-sort">
    <div class="title-sort">
      <div *ngIf="toSort.length > 0; else emptyTable">
        Twoje liczby do sortowania: [ {{ toSort.toLocaleString() }} ]
      </div>
      <ng-template #emptyTable>
        Twoje liczby do sortowania: [ ]
      </ng-template>
    </div>
  </mat-card>

  <div class="buttons-sorted-numbers">
    <mat-card class="mat-card-result">
        Wynik sortowania:
    </mat-card>
    <button mat-fab color="primary" aria-label="Button with result sorted numbers" class="button-number"
            *ngFor="let buttonNumber of buttonsNumbersSorted"> {{ buttonNumber }}
    </button>
  </div>

</div>
